.header{
background-color: lightblue; 
 	
	border: 5px  white  ;    
  	text-align: center;
}
.footer{
	background-color: lightblue; 
 	height:50px;
	border: 5px outset white  ;    
  	text-align: center;

}